.backgroundCover {
  background-image: url('/src/assets/hdwall.jpg');
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

header {
  height: 20%;
}

.developerHeading {
  display: flex;
  height: 80%;
  align-items: end;
}

hr {
  width: 100vw;
}
